body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
    color: rgb(3, 2, 2);
}
.form-container {
    background: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    color: white;
    border: 1px solid #b88e04;
}
.form-group {
    
    margin-bottom: 15px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: gold;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}